@import "variables";

button {
    background: $btn-color;
    color: $text-color;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background: rgb(95, 28, 3);
    color: bisque;
    cursor: url("../cursor-02-svgrepo-com.svg"), pointer;
    box-shadow: 2px 0px 8px rgb(95, 28, 3);
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: $dark-color;

    .content {
        width: 80%;
        margin: 0px auto;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0px;

            .header__logo {
                display: flex;
                align-items: center;
                gap: 9px;

                h1 {
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .header__menu {
                display: none;
            }

            ul {
                display: flex;
                align-items: center;
                gap: 48px;

                a {
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 400;
                }

                button {
                    display: flex;
                    align-items: center;
                    padding: 9px 24px 8px 24px;
                    border-radius: 24px;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 400;
                    border: none;
                }
            }

            @media screen and (max-width:750px) {
                .header__logo {

                    h1 {
                        color: #FFF;
                        font-size: 28px;
                        font-weight: 400;
                    }

                }

                ul {
                    display: none;
                }

                .header__menu {
                    display: block;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        .content__banner {
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            padding-top: 30px;
            padding-bottom: 85px;

            .media__img {
                display: none;
            }

            .banner__img img {
                width: 100%;
            }

            .banner__img {
                display: flex;
                flex-direction: column;

                span {
                    color: $txt-color;
                    font-size: 13px;
                    font-weight: 400;
                    text-align: right;
                    padding: 0px 237px 0px 37px;
                }
            }

            .banner__text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-top: 20px;

                span.text__first {
                    color: #FFF;
                    font-size: 20px;
                    font-weight: 400;
                    text-transform: uppercase;
                }

                .banner__text__txt {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 5px;

                    span {
                        color: #FFF;
                        font-size: 64px;
                        font-weight: 400;
                        line-height: 109%;
                    }
                }

                p {
                    margin-top: 34px;
                    color: $txt-color;
                    font-size: 16px;
                    font-weight: 400;
                    max-width: 411px;
                    line-height: 150%;
                    letter-spacing: 2px;
                }

                button {
                    padding: 17px 28px 16px 28px;
                    border-radius: 8px;
                    margin-top: 42px;
                    border: none;
                }
            }

            @media screen and (max-width:510px) {
                .banner__text {
                    display: flex;

                    flex-direction: column;
                    align-items: flex-start;

                    span.text__first {
                        color: #FFF;
                        font-size: 20px;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: 5px;
                    }

                    .banner__text__txt {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-top: 5px;

                        span {
                            color: #FFF;
                            letter-spacing: 5px;
                            font-size: 38px;
                            font-weight: 400;
                            line-height: 109%;
                        }
                    }

                    p {
                        margin-top: 34px;
                        color: $txt-color;
                        font-size: 16px;
                        font-weight: 400;
                        max-width: 411px;
                    }

                    button {
                        padding: 17px 28px 16px 28px;
                        border-radius: 8px;
                        margin-top: 42px;
                        border: none;
                    }
                }
            }
        }

        .content__min-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            .min-icon__1 {
                width: 24px;
                height: 5px;
                border-radius: 8px;
                background: #FFF;
            }

            .min-icon__2 {
                width: 5px;
                height: 5px;
                border-radius: 8px;
                background: #FFF;
            }

        }

        .content__services {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 121px 0px 0px 0px;
            gap: 65px;

            span.services__title {
                color: #FFF;
                font-size: 36px;
                font-weight: 400;
                letter-spacing: 2px;
            }

            .content__services__items {
                display: flex;
                width: 100%;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 20px 0px;
                align-items: flex-end;

                .services__items {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .txt-1 {
                        color: #FFF;
                        font-size: 19px;
                        font-weight: 400;
                        text-align: center;
                        letter-spacing: 1px;
                        line-height: 150%;
                    }

                    .txt-2 {
                        color: $txt-color;
                        font-size: 16px;
                        font-weight: 400;
                        max-width: 171px;
                        text-align: center;
                        letter-spacing: 1px;
                        line-height: 150%;
                    }

                }
            }
        }

        .content__about {
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            padding: 110px 0px 0px 0px;

            .content__about__img img {
                width: 100%;
            }

            .content__about {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                span.content__about__title {
                    color: #FFF;
                    font-size: 36px;
                    font-weight: 400;
                    letter-spacing: 1px;
                }

                p {
                    max-width: 395px;
                    margin-top: 48px;
                    color: $txt-color;
                    font-size: 16px;
                    font-weight: 4000;
                    letter-spacing: 1px;
                    line-height: 150%;
                }

                button {
                    margin-top: 35px;
                    border: none;
                    display: flex;
                    align-items: center;
                    padding: 17px 28px 16px 28px;
                    border-radius: 8px;
                }
            }
        }

        .content__premium {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 159px 0px 0px 0px;

            .content__premium__title {
                color: #FFF;
                font-size: 36px;
                font-weight: 400;
                letter-spacing: 2px;
            }

            .content__premium__wrapper {
                padding: 72px 20px 20px 0px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                /* display: flex;
                justify-content: center;
                flex-wrap: wrap; */
                gap: 40px;

                .content__premium__items {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;


                    .content__premium__item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;




                        span.item__name {
                            margin-top: 20px;
                            color: #FFF;
                            font-size: 20px;
                            font-weight: 400;
                            letter-spacing: 2px;
                        }

                        span.item__type {
                            color: $txt-color;
                            font-size: 12px;
                            font-weight: 400;
                            letter-spacing: 2px;
                        }

                        span.item__much {
                            margin-top: 11px;
                            color: #FFF;
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 2px;
                        }
                    }

                    button {
                        display: flex;
                        align-items: center;
                        padding: 8px 8px 4px 4px;
                        border-radius: 4px 4px 12px 4px;
                        border: none;

                    }

                }
            }

            @media screen and (max-width:1120px) {
                .content__premium__wrapper {
                    padding: 72px 20px 20px 0px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
            }

            @media screen and (max-width:753px) {
                .content__premium__wrapper {
                    padding: 72px 20px 20px 0px;
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }

        .content__sale {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 100px;
            justify-content: center;
            gap: 30px 160px;
            padding: 70px 0px;

            .content__sale__img img {
                width: 100%;
            }

            .content__sale__txt-btn {
                display: flex;
                flex-direction: column;
                align-items: center;

                span.sale__first {
                    color: #FFF;
                    font-size: 24px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    text-align: center;
                }

                span.sale__last {
                    color: #FFF;
                    font-size: 24px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    text-align: center;
                }

                button {
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    border-radius: 8px;
                    border: none;
                    padding: 17px 28px 16px 28px;
                }
            }
        }

        .content__arrivals {
            padding: 100px 0px 0px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 70px;


            span.content__arrivals__title {
                color: #FFF;
                font-size: 36px;
                font-weight: 400;
                letter-spacing: 2px;
            }

            .content__arrivals__scroll {
                width: 100%;
                overflow-x: auto;
                border-right: 1px solid bisque;
                border-left: 1px solid bisque;

                .content__arrivals__items {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    overflow: visible;
                    padding-left: 1000px;
                    padding-bottom: 20px;

                    .arrival__item {
                        display: flex;
                        padding: 20px 60px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        img {
                            width: 100%;
                        }

                        span.arrival__item__first {
                            margin-top: 37px;
                            color: #FFF;
                            font-size: 20px;
                            font-weight: 400;
                            letter-spacing: 2px;
                        }

                        span.arrival__item__last {
                            color: $txt-color;
                            font-size: 13px;
                            font-weight: 400;
                            letter-spacing: 2px;
                        }

                        .arrival__item__much {
                            margin-top: 18px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;

                            span.much__1 {
                                color: #FFF;
                                font-size: 16px;
                                font-weight: 400;
                            }

                            span.much__2 {
                                color: $btn-color;
                                font-size: 13px;
                                font-weight: 400;
                            }
                        }

                        span.new {
                            display: flex;
                            align-items: center;
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            color: white;
                            font-size: 16px;
                            font-weight: 400;
                            padding: 4px 8px 5px 8px;
                            background: $btn-color;
                            border-radius: 4px;
                        }

                        .arrival__item__btn {
                            display: flex;
                            align-items: flex-end;
                            position: absolute;
                            bottom: 0;
                            right: 0;

                            button {
                                padding: 6px;
                                display: flex;
                                align-items: center;
                                border-radius: 4px 4px 12px 4px;
                                border: none;
                            }
                        }
                    }
                }


                &::-webkit-scrollbar {
                    width: 100%;
                    height: 10px;
                }


                &::-webkit-scrollbar-thumb {
                    background: rgb(214, 210, 210);
                    border-radius: 50px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }
            }
        }

        .content__newsletter {
            padding: 152px 0px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
                color: #FFF;
                font-size: 36px;
                font-weight: 400;
                letter-spacing: 2px;
            }

            p {
                color: $txt-color;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 2px;
                margin-top: 48px;
                max-width: 366px;
                text-align: center;
            }

            button {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                margin-top: 41px;
                padding: 17px 28px 16px 28px;
                border-radius: 8px;
                border: none;
            }
        }

        .footer {
            display: grid;
            width: 80%;
            margin: 0px auto;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            gap: 40px 100px;
            padding: 161px 0px 0px 0px;

            .footer-item__tasty {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                a {
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }


                span {
                    margin-top: 17px;
                    color: $txt-color;
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .footer-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                span {
                    color: #FFF;
                    font-size: 20px;
                    font-weight: 400;
                }

                .footer__item__link {
                    margin-top: 18px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 11px;

                    a {
                        color: $txt-color;
                        font-size: 13px;
                        font-weight: 400;
                    }
                }
            }

        }

        .author {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 111px 0px 67px 0px;

            span {
                color: $txt-color;
                font-size: 12px;
                font-weight: 400;
            }
        }

        @media screen and (max-width:1200px) {
            .wrapper .content {
                width: 90%;
                margin: 0px auto;

                .content__banner {
                    /*  background: red; */
                    justify-content: space-between;
                }
            }

        }

        @media screen and (max-width:1088px) {

            .content__banner {
                display: flex;
                align-items: flex-end;
                justify-content: start;
                flex-wrap: wrap;
                padding: 30px 0px;

                .banner__img {
                    display: none;
                }

                .media__img {
                    display: block;

                    img {
                        width: 100%;
                        border-radius: 4%;
                    }
                }
            }
        }
    }
}